[package]
name = "certainly"
version = "1.2.0"
authors = ["FeÃÅlix Saparelli <felix@passcod.name>"]
description = "The easiest way to create self-signed certificates. Ever."
license = "Artistic-2.0"

homepage = "https://github.com/passcod/certainly"
repository = "https://github.com/passcod/certainly"
keywords = ["ssl", "certificate", "self-signed", "openssl"]
categories = ["command-line-utilities", "development-tools"]
readme = "README.md"

[badges]
appveyor = { repository = "passcod/certainly" }
travis-ci = { repository = "passcod/certainly" }

[profile.release]
lto = true

[dependencies]
clap = "2.32.0"
openssl = { version = "0.10.11", features = ["vendored"] }
openssl-probe = "0.1.2"
url = "1.7.1"
